[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pynvim = "*"
autopep8 = "*"
pycodestyle = "*"

[packages]
pillow = "*"
xlwt = "*"
fpdf = "*"

[requires]
python_version = "3.8"
